<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gestionBiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestionBiblioteca.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="d-flex justify-content-center mt-4 mb-4">
        <nav
            class="nav1 navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-4 rounded-pill w-75 d-flex justify-content-between align-items-center p-2">
            <div class="container d-flex">
                <a href="" class="d-flex align-items-center"><img
                        src="https://r.mobirisesite.com/640395/assets/images/mbr-121x89.png?v=1SH7oH" alt="books"></a>

                <ul class="d-flex align-items-center list fs-2">
                    <li>
                        <a class="text-black" href="">library</a>
                    </li>
                    <li>
                        <a class="text-black" asp-controller = "Book" asp-action = "Index">Libro</a>
                    </li>
                    <li>
                        <a class="text-black" href="">Prestamo</a>
                    </li>
                </ul>
            </div>
            <div class="p-2">
                <a href="" class="btn btn-success text-white rounded-pill fs-2 me-5 p-4 w-100">Login</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-success">
        <p class="text-white container d-flex justify-content-center">© Copyright 2024 Biblioteca - Todos los derechos
            reservados</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
