@model List<gestionBiblioteca.Models.Role> 

@{
    ViewData["Title"] = "CreateUser";
}

<div>
    <div class="container-fluid">
        <div class="row justify-content-center m-3">
            <div class="col-12 content-head">
                <h1 class="align-center text-center display-2 fw-bolder">
                    <strong>Registrar Usuario </strong>
                </h1>
            </div>
        </div>

         <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form">
                <form action="" method="post">

                    <div class="row">
                        <div class="col-md col-sm-12 mb-3">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control form-group all">
                        </div>

                        <div class="col-md col-sm-12 mb-3">
                            <input type="email" name="email" placeholder="Email" class="form-control form-group all">
                        </div>

                        <div class="col-12 mb-3">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control form-group all">
                        </div>

                        <div class="col-12 mb-3">
                            <select id="roleSelect" class="form-select form-group all" aria-label="Default select example">
                                <option selected>Selecciona una opción</option>
                                    @foreach (var role in Model)
                                    {
                                        <option value="@role.IdRol">@role.Name</option>
                                    }
                            </select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn text-center">
                            <button type="submit" class="btn btn-success display-7 w-50 rounded-pill p-3 all ">Registrar</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>

    </div>


</div>
