@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.list{
  list-style-type: none;
}

.list a{
  text-decoration: none;
  padding: 30px;
}

body {
  margin-bottom: 60px;
<<<<<<< HEAD
}

.all{
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.form-group{
  border: none;
  background-color: rgb(255, 255, 255);
  line-height: 1.3;
  border-radius: 40px !important;
  color: #232323;
  padding: 1.2rem 1.2rem;
  transition: border-color 0.25s ease 0s;
  border: 1px solid transparent !important;
  box-shadow: rgba(0, 0, 0, 0.021) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}

.display2{
  font-family: 'Inter Tight', sans-serif;
  font-size: calc(1.575rem + 3.9vw);
  line-height: 1;
}

.background{
    padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb82;
  border-radius: 10px;
=======
  background-color: #fff;
}

.nav1{
  height: 122px;
  box-shadow: 0 0.25rem 0.75rem rgb(133 133 133 / 31%);
>>>>>>> 5dd5fd77b536f23e2311b1ee9f98f1ece47329dd
}